<h4>Order Form</h4>

<%= form_for @order do |f| %>

  <%= f.label :item %>
  <%= collection_select(:item, :item_id, @items, :id, :name, {}, {multiple: true}) %>
<br>
<br>
  <%= f.label :party %>
  <%= collection_select(:order, :party_id, @parties, :id, :party_name) %>
<br>
<br>
  <%= f.submit %>

<% end %>
