<!DOCTYPE html>
<html>
<head>
  <title>RestManagerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div>RESTaurant Manager App</div>
    <div class="login">
      <% if session[:current_user_id] %>
        <h1>Welcome!</h1>
        <%= link_to "#{User.find(session[:current_user_id]).username}", user_path(session[:current_user_id]) %>
        <%= link_to "Logout", sessions_path, method: :delete %>
      <% else %>
        <p>Sign In</p>
        <%= form_tag(sessions_path) do %>
        <%= label_tag :username %>
        <%= text_field_tag :username %>
        <br>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <br>
        <%= submit_tag "Login" %>
        <% end %>
        <p>Not a member yet?</p>
        <%= link_to "Sign up","/users/new" %>
      <% end %>
    <div>
  </nav>

<%= yield %>

</body>
</html>
